* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
body {
  background-color: hsl(0deg, 0%, 60%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

header, main {
  margin: auto;
  padding: 32px 16px;
}

header {
  background-color: white;
  border-bottom: 5px solid hsl(0deg, 0%, 30%);
  font-size: 1.25rem;
}

.intro-chunk {
  max-width: 350px;
}

.max-width-wrapper {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 16px;
  margin: 32px -16px;
  background-color: white;
  border-bottom: 6px solid hsl(0deg, 0%, 30%);
}

.indented-heading {
  width: fit-content;
  padding: 16px 16px 16px 32px;
  margin: 0 0 0 -32px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 6px solid hsl(45deg, 100%, 40%);
}